<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add User</title>
</head>

<body>
    <h3>Register User</h3>

    <form action="/register" method="POST">
        
        <labal for="fname">First Name </labal>
        <input type="text" id='fname' name="fname" placeholder="First Name">

        <lable for="lname">Last Name</lable>
        <input type="text" id="lname" name="lname" placeholder="Last Number">
        
        <label for="age">Age</label>
        <input type="number" id="age" name="age" placeholder="Age">
        
        <input type="submit" placeholder="Add">
    </form>
    
</body>
</html>